.order-from{
    width: 500px;
}
.order-from input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid black;
}

.submit-btn{
    background-color: #e10a1d;
    color: white;
    border: none;
}
.bottom{
    min-height: 65vh;
}
@media only screen and (max-width: 600px) {
    .order-from{
        width: 100%;
    }
    
}